body{
    background-color: #008080;
}

#error_page{
    background-color: #0033bb;
}

@font-face{
    font-family: 'Windows95';
    src: url('w95fa.woff2') format('woff2');
}

.icon{
    margin-top: 10px;;
    margin-left:33px;
    margin-bottom: 0px;
}

.small_text{
    margin-bottom: 20px;
    margin-left: 27px;
    margin-top: 0px;
    font-family: 'Windows95';
    color: white;
    font-size: 13px;
}

.main_error_text{
    text-align: left;
    margin-left: 600px;
    font-family: 'Windows95';
    color: white;

}

#windows_highlight{
    background-color: #e6ebf8;
}

#four{
    margin-bottom: 20px;
    margin-left: 35px;
    margin-top: 0px;
    font-family: 'Windows95';
    color: white;
    font-size: 13px;
  
}

.window{
    text-align: center;
    background-color: #c3c3c3;
    margin-top: 25px;
    margin-left: 500px;
    margin-right: 500px;
    border: outset;
    border-width: 4px;
}

.readme{
    border:outset;
    padding:10px;
}

.window_content{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

#window_paragraph{
    border: inset;
    border-width: 4px;
    padding: 22px;
    padding-bottom: 200px;
    background-color: white;
    margin-bottom: 15px;
}

.bottom_bar{
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: #c3c3c3;
    border: outset;
    border-width: 4px;
    flex-direction: column-reverse;
}

.window_header{
    background-color: #000080;
    text-align: left;
    font-family: 'Windows95';
    color: white;
    padding: 5px;
}

#start_button{
    border: outset;
    border-width: 4px;
    max-width: 75px;
    max-height: 45px;
    margin:2px;
    font-family: 'Windows95';
    text-align: center;
    
}

.error_div{
    text-align: center;
}

.error_text{
    font-family: 'Windows95';
    color: white;
}

.main_win_links{
    display: flex;
    margin: auto;
}